<header class="topnavbar">
    <div class="left-section">
     
    </div>

    <div class="right-section">
        <div class="nav-item">
            <button class="profile-button" (click)="toggleProfileMenu()">
                <img [src]="avatarUrl" alt="User Avatar"  class="avatar"/>

              <span class="profile-name" *ngIf="currentUser">{{ currentUser.username }}</span>
              <span class="material-icons">arrow_drop_down</span>
            </button>
        </div>
        
        <div class="dropdown-menu profile-menu" *ngIf="isProfileMenuOpen">
        
            <div class="dropdown-content">

                <ul>
                    <li *ngFor="let item of dropDownItems">
                      <a [routerLink]="item.route" class="dropdown-item">
                        <span class="material-icons">{{ item.icon }}</span>
                        <span>{{ item.label }}</span>
                      </a>
                    </li>
                    <li>
                      <a href="#" class="dropdown-item" (click)="logout()">
                        <span class="material-icons">logout</span>
                        <span>Logout</span>
                      </a>
                    </li>
                  </ul>
            </div>
        </div>  
    </div>
