@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');



.input-wrapper,
.error-message,
input,
button {
  font-family: 'Roboto', sans-serif;
}

.login-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    background-color: #132855f5;
}

.login-card {
   // padding: 50px;
    border-radius: 8px;
    width: 300px;

    h1 {
        text-align: center;
        font-size: 40px;
        color: white;
    }

    .form-group {
        display: flex;
        flex-direction: column;
        width: 100%; 
        gap: 15px;
    }

    .input-field {
        position: relative;
        width: 100%; 
        display: flex;
        flex-direction: column;

        .material-icons {
            position: absolute !important;
            top: 50%;
            left: 10px;
            transform: translateY(-50%);
            font-size: 20px;
            color: #999;
            pointer-events: none;
        }

        input {
            width: 100%; 
            padding: 12px 0px 12px 33px;
            background-color: #132855f5;
            border: 1px solid #ccc;
            border-radius: 4px;
            font-size: 14px;
            outline: none;
            color: white;
            &::placeholder {
                color: #ccc;
            }

            &:focus {
                border-color: white;
            }

            &.is-invalid {
                border-color: #ef4444;
              }
        }

    }

    .login-button {
        width: 112%;
        padding: 10px 15px; 
        border: 1px solid white;
        background-color: white;
        cursor: pointer;
        border-radius: 2px;
        display: flex; 
        justify-content: center; 
        align-items: center; 
        gap: 8px; 
        font-size: 16px;
        &:hover {
            background-color:white; 
        }
    }

      
    .error-message {
        color: #b91c1c; 
        border: none;
        font-size: 0.95rem;
        display: flex;
        align-items: center;
        gap: 0.5rem;
        
      }
      
}
