<div class="dashboard-container">
 <app-sidebar [isCollapsed]="isSidebarCollapsed" (toggleSidebar)="toggleSidebar()"></app-sidebar>
 <div class="dashboard-content">
    <app-navbar (toggleSidebar)="toggleSidebar()"></app-navbar>
    <div class="users-section">
        <div class="dasboard-card">
            <div class="card-header">
                <h2>Public Users</h2>
            </div>
            <div class="card-content">
                <div class="users-table-container">
                    <div *ngIf="isLoading" class="loading-state">
                        <span class="material-icons loading-icon">sync</span>
                        <p>Loading users...</p>
                      </div>
                </div>

                  <table *ngIf="!isLoading && !error" class="users-table">
                    <thead>
                      <tr>
                        <th>Name</th>
                        <th>Username</th>
                        <th>Email</th>
                        <th>Company</th>
                        <th>Website</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let user of users">
                        <td>{{ user.name }}</td>
                        <td>{{ user.username }}</td>
                        <td>{{ user.email }}</td>
                        <td>{{ user.company.name }}</td>
                        <td>{{ user.website }}</td>
                      </tr>
                    </tbody>
                  </table>
            </div>
        </div>
    </div>
</div>  