/* You can add global styles to this file, and also import other style files */



@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');



@import "@progress/kendo-theme-default/dist/all.css";


:root{

      --kendo-color-primary: black !important;
  .k-checkbox:checked {
     background-color: #1abc9c;
     border-color:#1abc9c
  }
}
body {
  font-family: 'Roboto', sans-serif;
 // background: #adadb1;
}
body,html {
    margin:0;
    padding: 0;
}
.k-body {
    font-family: 'Roboto', sans-serif;
  }

th,tr,td,h2{
    font-family: 'Roboto', sans-serif !important;

}